:root {
  --primary: #8c52ff;
  --primary-hover: #7a44e6;
  --primary-light: #f3ecff;
  --primary-border: #e3d6ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
}


body {
  @apply bg-slate-50 text-slate-800;
}


h1 {
  @apply text-3xl font-bold;
}


h2 {
  @apply text-2xl font-semibold;
}


p {
  @apply text-slate-600;
}


input {
  @apply w-full border border-slate-300 rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-indigo-500;
}

button {
  @apply rounded-lg px-5 py-3 font-semibold transition;
}




button.primary {
  @apply bg-indigo-600 text-white hover:bg-indigo-700;
}


button.secondary {
  @apply border border-indigo-600 text-indigo-600 hover:bg-indigo-50;
}


.card {
  @apply bg-white rounded-2xl shadow-lg p-8;
}



